.esri-page {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  color: #fff;
  box-sizing: border-box;
  padding: 2.5%;

  .esri-page__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
  }

  .esri-page__title-text,
  .esri-page__subtitle-text {
    line-height: normal;
    word-break: break-word;
  }

  .esri-page__title-text {
    margin: 0;
    font-weight: 400;
    margin-bottom: 0.25%;
  }

  .esri-page__title-text,
  .esri-page__subtitle-text {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
  }

  .esri-page__scroll-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;

    .esri-page__scroll-text {
      margin-bottom: 5px;
    }

    button {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: transparent;
      border: none;
      cursor: pointer;
      width: fit-content;
      color: #fff;
      calcite-icon {
        color: #fff;
      }
    }
  }
}

.esri-page__back-to-cover-page {
  position: absolute;
  right: 2%;
  bottom: -98%;
  z-index: 999999999;
  cursor: pointer;
}

.esri-page__scroll-container {
  button:hover {
    calcite-icon {
      transition: ease-in-out 0.25s;
      transform: translateY(3px);
    }
  }
  button:not(:hover) {
    calcite-icon {
      transition: ease-in-out 0.25s;
      transform: translateY(-3px);
    }
  }
}

@media screen and (max-width: 480px) {
  .esri-page {
    &__title-text {
      font-size: 45px;
    }
    &__subtitle-text {
      font-size: 25px;
    }
    &__scroll-text {
      font-size: 20px;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .esri-page {
    &__title-text {
      font-size: 65px;
    }
    &__subtitle-text {
      font-size: 30px;
    }
    &__scroll-text {
      font-size: 25px;
    }
  }
}

@media screen and (min-width: 769px) {
  .esri-page {
    &__title-text {
      font-size: 75px;
    }
    &__subtitle-text {
      font-size: 45px;
    }
    &__scroll-text {
      font-size: 30px;
    }
  }
}