.esri-filter-list calcite-accordion {
  border: 1px solid #d9dada;
}
.esri-filter-list__reset-btn {
  width: 162px;
  padding: 20px;
}
.esri-filter-list__optional-btn {
  width: 100%;
  padding: 20px;
  display: flex;
}
.esri-filter-list__optional-btn calcite-button {
  width: 100%;
}
.esri-filter-list__optional-btn > calcite-button:first-of-type {
  margin-right: 6px;
}
.esri-filter-list__filter-container {
  height: 100%;
  border: 1px solid #d9dada;
  box-sizing: border-box;
  background: #f4f3f4;
}
.esri-filter-list__header-container {
  padding: 20px;
  border-bottom: 1px solid #d9dada;
  display: flex;
  justify-content: space-between;
}
.esri-filter-list__header-container > * {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
}
.esri-filter-list__reset-container {
  display: flex;
  justify-content: flex-end;
}
.esri-filter-list__filter-item-container {
  border-bottom: 1px solid #d9dada;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.esri-filter-list__filter-item-container--accordion {
  padding: 20px;
}
.esri-filter-list__filter-item-container--single {
  padding: 20px;
}
.esri-filter-list__filter-item-container--user-input {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.esri-filter-list__filter-item-container--user-input > span {
  margin: 0 0 8px;
  font-size: 14px;
  font-weight: normal;
}
.esri-filter-list__filter-item-container--user-input calcite-combobox {
  width: 100%;
  font-size: 16px;
}
.esri-filter-list__number-input-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.esri-filter-list__number-input-container calcite-slider {
  width: 90%;
}
.esri-filter-list__date-picker-input-container {
  display: flex;
  align-items: center;
  justify-content: unset;
  width: 100%;
}
.esri-filter-list__date-picker-input-container calcite-action {
  height: 64px;
  border: 1px solid var(--calcite-ui-border-1);
}
.esri-filter-list__filter-title {
  margin-right: 20px;
}
.esri-filter-list__filter-title > p {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
.esri-filter-list__checkbox-container {
  display: flex;
}
.esri-filter-list__checkbox-container calcite-checkbox {
  height: 18px;
}
.esri-filter-list__operator-description {
  background: white;
  margin: 0;
  font-size: 12px;
  font-weight: 700;
  padding: 12px 20px 0 20px;
}
.esri-filter-list.esri-filter-list--light .esri-filter-list__header-container {
  background: #fff;
}
.esri-filter-list.esri-filter-list--light .esri-filter-list__reset-container {
  background: #f4f3f4;
}
.esri-filter-list.esri-filter-list--light .esri-filter-list__filter-item-container {
  background: #fff;
}
.esri-filter-list.esri-filter-list--light .esri-filter-list__select {
  background: #fff !important;
  border: 1px solid #a9a9a9 !important;
  color: #4c4c4c !important;
}
.esri-filter-list.esri-filter-list--dark .esri-filter-list__header-container {
  background: #2b2b2b;
  color: #fff;
}
.esri-filter-list.esri-filter-list--dark .esri-filter-list__reset-container {
  background: #353535;
}
.esri-filter-list.esri-filter-list--dark .esri-filter-list__filter-item-container {
  background: #353535;
}
.esri-filter-list.esri-filter-list--dark .esri-filter-list__select {
  background: #2b2b2b;
  border: 1px solid #4a4a4a;
  color: #fff;
}
.esri-filter-list.esri-filter-list--dark .esri-filter-list__operator-description {
  background: #353535;
}