.esri-filter-list {
  calcite-accordion {
    border: 1px solid rgb(217, 218, 218);
  }

  &__reset-btn {
    width: 162px;
    padding: 20px;
  }

  &__optional-btn {
    width: 100%;
    padding: 20px;
    display: flex;

    calcite-button {
      width: 100%;
    }

    & > calcite-button:first-of-type {
      margin-right: 6px;
    }
  }

  &__filter-container {
    height: 100%;
    border: 1px solid rgb(217, 218, 218);
    box-sizing: border-box;
    background: #f4f3f4;
  }

  &__header-container {
    padding: 20px;
    border-bottom: 1px solid rgb(217, 218, 218);
    display: flex;
    justify-content: space-between;

    > * {
      font-size: 18px;
      font-weight: 500;
      margin: 0;
    }
  }

  &__reset-container {
    display: flex;
    justify-content: flex-end;
  }

  &__filter-item-container {
    border-bottom: 1px solid rgb(217, 218, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--accordion {
      padding: 20px;
    }

    &--single {
      padding: 20px;
    }

    &--user-input {
      margin: 0;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      > span {
        margin: 0 0 8px;
        font-size: 14px;
        font-weight: normal;
      }

      calcite-combobox {
        width: 100%;
        font-size: 16px;
      }
    }
  }

  &__number-input-container {
    width: 100%;
    display: flex;
    justify-content: center;

    calcite-slider {
      width: 90%;
    }
  }

  &__date-picker-input-container {
    display: flex;
    align-items: center;
    justify-content: unset;
    width: 100%;

    calcite-action {
      height: 64px;
      border: 1px solid var(--calcite-ui-border-1);
    }
  }

  &__filter-title {
    margin-right: 20px;
  }

  &__filter-title > p {
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }

  &__checkbox-container {
    display: flex;

    calcite-checkbox {
      height: 18px;
    }
  }

  &__operator-description {
    background: white;
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    padding: 12px 20px 0 20px;
  }

  &.esri-filter-list--light .esri-filter-list {
    &__header-container {
      background: #fff;
    }
    &__reset-container {
      background: rgb(244, 243, 244);
    }
    &__filter-item-container {
      background: #fff;
    }
    &__select {
      background: #fff!important;
      border: 1px solid #a9a9a9!important;
      color: #4c4c4c!important;
    }
  }

  &.esri-filter-list--dark .esri-filter-list {
    &__header-container {
      background: #2b2b2b;
      color: #fff;
    }
    &__reset-container {
      background: #353535;
    }
    &__filter-item-container {
      background: #353535;
    }
    &__select {
      background: #2b2b2b;
      border: 1px solid #4a4a4a;
      color: #fff;
    }
    &__operator-description {
      background: #353535;
    }
  }
}
